body{
    text-align: center;
   
}
.Box_container{
    display: flex;
    justify-content: center;
}
.box{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.red{
    background-color: rgb(140, 27, 27);
}
.yellow{
    background-color: rgb(136, 136, 32);
}
.green{
    background-color: rgb(34, 128, 34);
}
.purple{
    background-color: rgb(132, 32, 132);   
}
.gameFlash{
    background-color: white;
     box-shadow: 0 0 40px #00ffcc;
}
.userFlash{
    background-color: green;
    box-shadow: 0 0 40px #00ffcc;
}
@media (max-width: 600px) {
    .box {
        height: 120px;
        width: 120px;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.1rem;
    }
}